/* Hi! */
body {
  padding-top: 3.5rem;
}

.display-3 {
  font-weight: 100;
}

.jumbotron {
    padding: 6rem 2rem;
    background: #343a40;
    border-radius: 0;
  }

.background-img {
  width: 100%;
}

.white-text {
  color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #16d4d4;
    border-color: #16d4d4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #14adad;
    border-color: #14adad;
}

.btn-outline-primary {
    color: #16d4d4;
    background-color: transparent;
    background-image: none;
    border-color: #16d4d4;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #16d4d4;
    border-color: #16d4d4;
  }

.logo {
    width: 40px;
    margin-right: 20px;
    margin-left: 5px;
}

.subtext {
  font-weight: 300;
  font-size: 18px;
  margin: 25px 0px 35px 0px;
  line-height: 30px;
}

 .description-text {
   padding: 40px 10px;
 }

.services-bg {
  background: #343a40 url("images/background-services.jpg") no-repeat center;
  background-size: cover;
}

.contact-bg {
  background: #343a40 url("images/background-contact.jpg") no-repeat center;
  background-size: cover;
}

.btn-huge {
  font-size: 30px;
  padding: 20px 60px;
}

@media (min-width: 576px) {
.jumbotron {
    padding: 6rem 4rem;
  }
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

.background-img {
  margin-top: -50px;
}
}

@media (max-width: 576px) {
.jumbotron {
    padding: 6rem 2rem;
  }

  .background-img {
    margin-top: 50px;
  }
}
